# ===== Maven 编译产物 =====

# target 目录是编译生成的，不该进 git
**/target/

# ===== IDEA =====

.idea/
*.iml

# ===== VS Code =====

.vscode/
*.log

# ===== 系统文件 =====

.DS_Store
Thumbs.db

# ===== 日志 =====

sky-server-startup.log

# ===== 项目配置 =====

sky-server/src/main/resources/application.yml