<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.SetmealDishMapper">

    <insert id="insertBatch">
        insert into setmeal_dish (setmeal_id, dish_id, name, price, copies)
        values
        <foreach collection="list" item="sd" separator=",">
            (#{sd.setmealId}, #{sd.dishId}, #{sd.name}, #{sd.price}, #{sd.copies})
        </foreach>
    </insert>


    <select id="getSetmealDishVOBySetmealId" resultType="com.sky.vo.SetmealDishVO">
        SELECT
        sd.dish_id AS dishId,
        sd.name,
        sd.price,
        sd.copies,
        d.image
        FROM setmeal_dish sd
        LEFT JOIN dish d ON sd.dish_id = d.id
        WHERE sd.setmeal_id = #{setmealId}
    </select>
</mapper>